<Spinner Visible="@Loading" />

<ModalDialog @ref="DeleteConfirmDialog" Title="Angebot löschen">
    <p>Soll das Angebot <em>@OfferToDelete?.ProductEan (@OfferToDelete?.Product.Name)</em> gelöscht werden?</p>
</ModalDialog>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Kategorie</th>
            <th>EAN</th>
            <th>Produkt</th>
            <th>Preis</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in OfferDtos.OrderBy(o => o.Product.ProductCategory.Name))
        {
            <tr class="@(EditOffer == o ? "active" : "")">
                <td style="width:70em">@o.Product.ProductCategory.Name</td>
                <td style="width:50em">@o.Product.Ean</td>
                <td style="width:200em">@o.Product.Name</td>
                <td style="width:50em">
                    @if (EditOffer == o)
                    {
                        <input type="number" style="width:7em" @bind="@o.Price" />
                        <span style="cursor:pointer;" @onclick="SaveOffer"><i class="fas fa-check"></i></span>
                    }
                    else
                    {
                        @o.Price
                    }
                </td>
                <td style="width:50em">
                    <span style="cursor:pointer;" @onclick="@(()=>EditOffer = o)"><i class="fas fa-pen"></i></span>
                    <span style="cursor:pointer;" @onclick="@(()=>DeleteOffer(o))"><i class="ms-2 far fa-trash-alt"></i></span>
                </td>
            </tr>
        }
    </tbody>
</table>
