@page
@using SPG_Fachtheorie.Aufgabe2.Model
@model IndexModel

<div>
    <h1 class="h3">Klausurprüfung aus Fachtheorie</h1>
    <p>Bitte füllen Sie diese Daten in der Datei <em>SPG_Fachtheorie.Aufgabe3RazorPages/Pages/Index.cshtml</em> am Beginn Ihrer Arbeit aus.</p>
    <table class="table table-sm mb-5 border border-primary">
        <tr>
            <th style="width:10em">Maturaaccount</th>
            <td style="width:30em">(Bitte ausfüllen)</td>
        </tr>
        <tr>
            <th>Vorname</th>
            <td>(Bitte ausfüllen)</td>
        </tr>
        <tr>
            <th>Zuname</th>
            <td>(Bitte ausfüllen)</td>
        </tr>
        <tr>
            <th>Klasse</th>
            <td>(Bitte ausfüllen)</td>
        </tr>
    </table>
</div>
<div class="mb-3">
    @if (Model.CurrentUser is not null)
    {
        <h5>Angemeldet als User @Model.CurrentUser</h5>
        <form method="post" asp-page-handler="logout">
            <button class="btn btn-primary">Logout</button>
        </form>

    }
    else
    {
        <h5>
            Wähle einen User aus:
        </h5>
        <form method="post">
            <select asp-for="SelectedUser"
                class="form-control"
                asp-items="Model.UserItems"></select>
            <button class="btn btn-primary">Login</button>
        </form>
    }
</div>
<div>
    <h1 class="h5">Daten der Tabelle Student</h1>
    <p>Diese Tabelle dient zum Testen des Datenbankzugriffes.</p>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>GUID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Rolle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Students)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Username</td>
                <td>@s.Lastname @s.Firstname</td>
                <td>@(s is Coach ? "Coach" : "Student")</td>
            </tr>
        }
    </tbody>
</table>
